fastai==1.0.58
fastprogress==0.1.21
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
h5py==2.8.0
json5==0.9.4
jsonschema==3.2.0
matplotlib==3.0.0
mpld3==0.5.1
numpy==1.17.4
panda==0.3.1
pandas==0.23.4
pandoc==1.0.2
pandocfilters==1.4.2
scikit-learn==0.20.0
scipy==1.4.1
sklearn==0.0
